local
**/build/
**/.latexmkrc
**/~*
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
.DS_Store
.*swp
.cursor
ppts/proposal/ext
ppts/proposal/main_files/libs
ppts/proposal/main.html
ppts/proposal/main.pdf
ppts/proposal/main.pptx
ppts/proposal/main.qmd
ppts/proposal/proposal_talk.pdf
ppts/proposal/talk_bak.pptx
ppts/proposal/talk_forpdf.pptx
ppts/proposal/talk_pdf.pdf
ppts/proposal/talk_shared.pptx
thesis/main.pdf
ppts/thesis/plots/__pycache__
thesis/data/tikz/__pycache__
ppts/thesis/acks
ppts/thesis/LiquidJetInSupersonicCrossflow.mp4
ppts/thesis/opening_slides.pdf
otherdocs/_markdown_generality
otherdocs/generality.luabridge.lua
otherdocs/generality.markdown.in
.claude/settings.local.json
.vscode/settings.json
